(
    entries: [
        (
            file: "assets/core.mod.ron",
            settings: {},
        ),
        (
            file: "mods/editor/editor.mod.ron",
            settings: {},
        ),
    ],
)