(
    scripts: ["items/cleaver.lua"],
    lines: {
        "english": {
            "name": "Cleaver",
            "chop": "Chop {name}",
        },
    },
    tags: ["knife", "metal", "weapon"],
    item: (
        equip_slots: ["hand"],
    ),
    animation: (
        frames: {
            "idle": [],
        },
        parts: {
            "bkg": Sprite(shape: Quad(w: 0.177, h: 0.4), material: "bkg",  atlas_offset: (row: 0, col: 1)),
            "out": Sprite(shape: Quad(w: 0.177, h: 0.4), material: "out"),
        },
        materials: {
            "out": (
                color:            "#9cabb1",
                texture:          "items/cleaver.png",
                alpha_blend:      true,
                atlas:            (rows: 1, columns: 2, width: 430, height: 768),
                metallic:         0.9,
            ),
            "bkg": (
                color:            "background",
                texture:          "items/cleaver.png",
                atlas:            (rows: 1, columns: 2, width: 430, height: 768),
            ),
        },
    ),
)