#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
Prefab(
    scripts: ["items/lantern.lua"],
    lines: {
        "english": {
            "name": "Lantern",
        },
    },
    tags: ["fire", "lightsource", "metal", "weapon"],
    item: (
        equip_slots: ["hand_left", "hand_right"],
    ),
    animation: (
        frames: {
            "idle": [],
        },
        parts: {
            "fire": Sprite(layer: Outline,    shape: Quad(w: 0.308, h: 0.52), material: "fire", atlas_offset: (row: 0, col: 2)),
            "bkg":  Sprite(layer: Background, shape: Quad(w: 0.308, h: 0.52), material: "bkg",  atlas_offset: (row: 0, col: 1)),
            "out":  Sprite(layer: Outline,    shape: Quad(w: 0.308, h: 0.52), material: "out"),
        },
        materials: {
            "out": (
                layer:            Outline,
                color:            "#4b4158",
                texture:          "items/shutter_lantern.png",
                emissive_texture: "items/shutter_lantern.png",
                normal_texture:   "props/paper_n.png",
                alpha_blend:      true,
                atlas:            (rows: 1, columns: 3, width: 314, height: 512),
                metallic:         0.8,
            ),
            "bkg": (
                layer:            Background,
                texture:          "items/shutter_lantern.png",
                atlas:            (rows: 1, columns: 3, width: 314, height: 512),
                alpha_blend:      true,
            ),
            "fire": (
                layer:            Outline,
                color:            "#e09b40",
                texture:          "items/shutter_lantern.png",
                emissive_texture: "items/shutter_lantern.png",
                atlas:            (rows: 1, columns: 3, width: 314, height: 512),
                alpha_blend:      true,
                unlit:            true,
            ),
        },
    ),
)