(
    scripts: ["items/lantern.lua"],
    lines: {
        "english": {
            "name":          "Lantern",
            "light":         "Light {name}",
            "extinguish":    "Extinguish {name}",
            "ignite":        "Ignite {target}",
            "throw":         "Throw {name}",
            "throw_tooltip": "This will break the {name}!",
        },
    },
    tags: ["fire", "lightsource", "metal", "weapon"],
    item: (
        equip_slots: ["hand"],
    ),
    animation: (
        frames: {
            "idle": [],
        },
        skeleton: (
            name: "root",
            children: [
                (name: "flame", offset: (0., 0.4238, 0.)),
            ],
        ),
        parts: {
            "fire": Sprite(bone: (name: "root"), shape: Quad(w: 0.308, h: 0.52), material: "fire", atlas_offset: (row: 0, col: 2)),
            "bkg":  Sprite(bone: (name: "root"), shape: Quad(w: 0.308, h: 0.52), material: "bkg",  atlas_offset: (row: 0, col: 1)),
            "out":  Sprite(bone: (name: "root"), shape: Quad(w: 0.308, h: 0.52), material: "out"),
        },
        materials: {
            "out": (
                color:            "ferra",
                texture:          "items/shutter_lantern.png",
                emissive_texture: "items/shutter_lantern.png",
                atlas:            (width: 0.3333, height: 1.),
                metallic:         0.8,
            ),
            "bkg": (
                color:            "background",
                texture:          "items/shutter_lantern.png",
                atlas:            (width: 0.3333, height: 1.),
            ),
            "fire": (
                color:            "yellow",
                texture:          "items/shutter_lantern.png",
                emissive_texture: "items/shutter_lantern.png",
                atlas:            (width: 0.3333, height: 1.),
                unlit:            true,
            ),
        },
    ),
)