#![enable(implicit_some)]
(
    version:      (1,0,0),  // major.minor.patch
    dependencies: { // these mods must be loaded for this mod to work
        "core": Any,
    },
    priority:     0.,       // def: 0.0, lowest priority loads first if all the above prereqs are met for multiple mods at once
    lines: {
        "english": {
            "name": "Tutorial Mod",
            "desc": "An example mod showing the game's modding capabilities.",
        },
        "esperanto": {
            "name": "Leciona Modjulo",
            "desc": "Ekzempla modjulo por vidigas la modifecojn de la ludo.",
        },
    },
)