(
    scripts: ["props/furniture/painting.lua"],
    tags: ["flammable", "furniture", "wood"],
    lines: {
        "english": {
            "name": "Painting",
        },
    },
    attributes: (
        pools: {
            "health": (base: 2., current: 2.),
        },
    ),
    animation: (
        frames: {
            "idle": [],
        },
        skeleton: (
            name: "root",
            children: [
                (name: "framed", offset: (0., 0.1308, 0.)),
            ],
        ),
        parts: {
            "bkg":      Sprite(bone: (name: "root"),   shape: Quad(w: 1.427, h: 1.427, d: 0.0001),  material: "bkg", atlas_offset: (row: 0, col: 1)),
            "frame":    Sprite(bone: (name: "root"),   shape: Quad(w: 1.427, h: 1.427, d: 0.0002), material: "frame"),
            "painting": Sprite(bone: (name: "framed"), shape: Quad(w: 1.,    h: 1.,    d: 0.0003, one_sided: true), material: "painting"),
        },
        materials: {
            "bkg": (
                atlas:          (rows: 1, columns: 2, width: 2048, height: 1024),
                texture:        "props/furniture/painting_frame.png",
                color:          "background",
            ),
            "frame": (
                atlas:          (rows: 1, columns: 2, width: 2048, height: 1024),
                texture:        "props/furniture/painting_frame.png",
                alpha_blend:    true,
                color:          "#534a3b",
            ),
            "painting": (
                texture:        "props/furniture/paintings/blank.png",
                alpha_blend:    true,
                color:          "#785c3b",
                reflectance:    0.01,
            ),
        },
    ),
)