(
    name:    "Testing House",
    scripts: [
        "levels/testing/testing_house.lua",
    ],
    lines: {
        "english": {
            "name":  "Testing House",
            "where": "Somewhere in the abyss",
        },
    },
    player_spawn: [
        (room: "foyer", grid: "main", pos: (5, 5)),
    ],
    skybox:     "skybox/space.ktx2",
    materials: {
        // implicit "background" material that is a fill of the current background
        "floor": (
            layer: Outline,
            color: "purple",
            texture: "tiles/floor_squiggle.png",
            mode: Repeat(step: 2., on_step: Rotate180),
        ),
        "siding": (layer: Outline, color: "purple", texture: "tiles/siding.png", mode: Repeat()),
        "window": (
            layer: Outline,
            color: "icy",
            texture:          "tiles/window.png",
            mode: Repeat(step: 2.),
            reflectance: 0.9,
        ),
    },
    rooms: {
        "all": (
            pos: (0., 0., 0.),
            keep_loaded: true,
            reveal_before_entry: true,
            lights: [
                (
                    pos: (0.2, 4., 0.5),
                    color: "#9cabb1",
                    kind: Directional(intensity: 0.3),
                ),
            ],
        ),
        "foyer": (
            pos: (0., 0., 0.),
            reveal_before_entry: true,
            grid: {
                "main": (shape: Rect(w: 7, h: 11)),
            },
            prefabs: [
                (asset: "props/furniture/end_table", at: Free(-2.9, 0., 2.)), // can drop .prefab.ron extension here, since it already knows it'll need that
                (asset: "props/furniture/painting",  at: Free(-2.3, 1., -5.8), rotation: (0., 0., 0.3926)),
                (asset: "props/bones/goat_skull_creepy", at: Free(2.5, 1.25, -5.8), rotation: (0.01, 0.01, -0.3)),
                (
                    label: "foyer_lantern",
                    asset: "items/lantern", // dropped extension, see above
                    at: Free(-3, 0.34, 1.9),
                    rotation: (0., 1.0471, 0.),
                ),
            ],
            point_entities: [
                (name: "stalker", pos: (-4., 3., -2.)),
            ],
            geometry: [
                (
                    label:     "floor",                    // label, optional, scripts can get this geometry from this
                    pos:       (0., 0., 0.),               // where the center of the object is
                    shape:     Quad(w: 7., h: 11.),        // what shape/porportions the geometry has
                    rotation:  (-1.57079632679, 0., 0.),
                    materials: ["background", "floor"],    // what materials are drawn in order; in this case, we fill the shape with the background color, and then draw the floor material over it
                    is_solid:  true,                       // should collision get generated for me? (defaults to false)
                ),
                (
                    pos:       (-3.5, 0.35, 0.),
                    shape:     Quad(w: 11., h: 1.),
                    rotation:  (0., 1.57079632679, 0.),
                    materials: ["background", "siding"],
                ),
                (
                    pos:       (-4., 2.25, 0.),
                    shape:     Quad(w: 12., h: 2.),
                    rotation:  (0., 1.57079632679, 0.),
                    materials: ["window"],
                ),
            ],
            lights: [
                // (
                //     label: "foyer_lights",
                //     pos: (0.19, 4., -2.5),
                //     color: "cream",
                //     shadows_enabled: true,
                //     kind: Point(intensity: 6000.),
                //     anim: Sin(period: 1.25, amplitude: 0.12),
                // ),
                // (
                //     label: "foyer_lights",
                //     pos: (0.17, 4., 2.5),
                //     color: "yellow",
                //     shadows_enabled: true,
                //     kind: Point(intensity: 6000.),
                //     anim: Sin(period: 1.25, amplitude: 0.2, phase_shift: 0.785398163397),
                // ),
            ],
        ),
    },
)