(
    version:  (0,1,0),
    priority: -999999999.,
    lines: {
        "english": {
            "name": "Core",
            "desc": "The base game loaded from content at the root of ./assets",
        },
    },
    startup_scripts: [
        "systems/startup.lua",
    ],
)