#![enable(implicit_some)]
(
    version:      (0,0,1),
    dependencies: [],          // def: []
    load_after:   [],          // def: []
    load_before:  [],          // def: []
    priority:     -999999999., // def: 0.0
    lines: {
        "english": {
            "name": "Core",
            "desc": "The base game loaded from content at the root of ./assets",
        },
    },
)