#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    lines: {
        "english": {
            "name": "Labolas",
        },
    },
    animation: (
        frames: {
            "idle": [
                (delay: 0.2, atlas: (row: 0, col: 0)),
                (delay: 0.2, atlas: (row: 0, col: 1), scale: (x: 1.01, y: 0.99)),
                (delay: 0.2, atlas: (row: 0, col: 2)),
                (delay: 0.2, atlas: (row: 0, col: 3), scale: (x: 0.991, y: 1.005)),
                (delay: 0.2, atlas: (row: 0, col: 4)),
                (delay: 0.2, atlas: (row: 0, col: 5), scale: (x: 1.006, y: 1.011)),
            ],
        },
        skeleton: (
            name: "root",
            children: [
                (name: "head",       offset: (0.,   1.30, 0.)),
                (name: "hand_left",  offset: (0.72, 0.52, 0.)),
                (name: "hand_right", offset: (0.22, 0.52, 0.)),
            ],
        ),
        parts: {
            "bkg": Sprite(bone: (name: "root"), layer: Background, shape: Quad(w: 0.771, h: 1.3), material: "bkg", atlas_offset: (row: 1, col: 0)),
            "out": Sprite(bone: (name: "root"), layer: Outline,    shape: Quad(w: 0.771, h: 1.3), material: "out"),
        },
        materials: {
            // implicit "background" material that is a fill of the current background
            "out": (
                layer:            Outline,
                color:            "#f64560",
                texture:          "chars/placeholder/labolas.png",
                alpha_blend:      true,
                // emissive_texture: "chars/placeholder/labolas.png",
                // emissive_color:   "#3b2e0d",
                atlas:            (rows: 2, columns: 6, width: 204, height: 344),
            ),
            "bkg": (
                layer:            Background,
                texture:          "chars/placeholder/labolas.png",
                atlas:            (rows: 2, columns: 6, width: 204, height: 344),
                alpha_blend:      true,
            ),
        },
    ),
)