( // Japanese Woodblock Palette by Polyducks https://lospec.com/palette-list/japanese-woodblock
    background: "coffee",
    on_miss:    Clamp,
    colors: {
        "black":      "coffee",
        "blue":       "#243d5c",
        "brown":      "#624c3c",
        "clay":       "brown",
        "coffee":     "#2b2821",
        "cornflower": "teal",
        "cream":      "#e3cfb4",
        "cyan":       "teal",
        "ferra":      "grey",
        "fuchsia":    "blue",
        "gold":       "yellow",
        "green":      "#3e6958",
        "grey":       "#5d7275",
        "icy":        "teal",
        "lavender":   "red",
        "lime":       "green",
        "olive":      "green",
        "orange":     "#d4804d",
        "pink":       "#d9ac8b",
        "purple":     "blue",
        "red":        "#b03a48",
        "rose":       "red",
        "sand":       "#b1a58d",
        "sierra":     "#e09b4d",
        "teal":       "#5c8b93",
        "white":      "cream",
        "wine":       "red",
        "yellow":     "#e0c872",
    },
)